body {
	padding: 20px;
}

.App {
	margin: 0 auto; /* 해상도를 줄여도 가운데 정렬 유지 */
	width: 400px;
}
.App > section {
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(240, 240, 240);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 10px;
}
